<article>
  <header>
    <h1>Permalinks to the FCC Record</h1>
    <p>
      <blockquote>
        <i>The FCC Record is a comprehensive compilation of decisions, reports, public notices, and other documents of the Federal Communications Commission from 1986 to the present.</i>
      </blockquote> Source: <a href="https://www.fcc.gov/encyclopedia/legal-websites-and-information">fcc.gov</a>
    </p>
    
    <h3>Link format: https://fccrcd.link/<b>{volume}</b>/<b>{page_number}</b></h3>
    
    <p>Example:</p>
    <ul id="examples">
      <li><a href="<%= url('/22/17791') %>"><%= url('/22/17791') %></a></li>
    </ul>
  </header>
</article>
